.card-event{
    -fx-background-color:  #F6F4EE;
    -fx-background-radius: 20px 20px 20px 20px;
}

.card-my-event{
    -fx-background-color:  #F6F4EE;
    -fx-background-radius: 20px 20px 20px 20px;
}
