.bg{
    -fx-background-color: #FFF5E5;
}
.scroll-pane {
    -fx-background-color: black;
}
.font-Label-Head{
    -fx-font-size: 24;
    -fx-font-weight: 700;
    -fx-font-family: Leelawadee;
    -fx-font-style: normal;
    -fx-text-fill: black;
}
.label-header{
    -fx-font-size: 40;
    -fx-font-weight: 700;
    -fx-font-family: Leelawadee;
    -fx-font-style: normal;
    -fx-text-fill: black;
}
.font-Label{
    -fx-font-size: 18;
    -fx-font-family: Leelawadee;
    -fx-text-fill: black;
}
.font-Label-upload{
    -fx-font-size: 14;
    -fx-font-family: Leelawadee;
    -fx-text-fill: red;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #f0edeb;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: transparent;
}

.eventbox-bg{
-fx-background-color: #ffac4d;
-fx-border-radius: 18px;
-fx-border-color: black;
-fx-background-radius: 20px;
-fx-border-width: 3px;
}
.inbox-bg{
    -fx-background-color: #ffac4d;
}
.text-field-bg{
-fx-background-color: #F9F6F7;
-fx-border-radius: 10px;
-fx-border-color: black;
-fx-background-radius: 10px;
-fx-border-width: 1px;
}

.event-text-area {
    -fx-background-color: #F9F6F7;
    -fx-background-radius: 10;
    -fx-border-color: black;
    -fx-border-radius: 10;
    -fx-padding: 5px;
    -fx-border-width: 1px;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}
.event-text-area .content {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-color: transparent;
}
.event-text-area .scroll-pane {
    -fx-background-color: transparent;
}

.event-choice-box {
-fx-background-color: #F9F6F7;
-fx-border-radius: 10px;
-fx-border-color: black;
-fx-background-radius: 10px;
-fx-border-width: 1px;
}
.event-choice-box .context-menu { -fx-background-color: white; }
.event-choice-box .menu-item:focused { -fx-background-color: #FFE8D6; }
.event-choice-box .menu-item > .label { -fx-text-fill: black; }
.event-choice-box .menu-item:focused > .label { -fx-text-fill: black; }

