.bg{
-fx-background-color:  #F9F6F7;
}
.top-bg{
-fx-background-color: #FFE8D6;
}
.page-button{
-fx-background-color: #F9F6F7;
-fx-border-radius: 9px;
-fx-border-color: black;
-fx-background-radius: 10px;
-fx-border-width: 2px;
}
.page-button:hover {
-fx-background-color: linear-gradient(#FF7A00, #FF9900);
-fx-border-radius: 9px;
-fx-border-color: #F9F6F7;
-fx-background-radius: 10px;
-fx-border-width: 2px;
}
.staff-apply-box{
-fx-background-color: linear-gradient(#FFBB6A, #FF9900);
-fx-border-radius: 18px;
-fx-border-color: black;
-fx-background-radius: 20px;
-fx-border-width: 3px;
}
.font-component-head{
    -fx-font-size: 18;
    -fx-font-family: Leelawadee;
}
.font-component-subhead{
    -fx-font-size: 14;
    -fx-font-family: Leelawadee;
}
.button-component{
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-color: #000;
    -fx-font-family: Leelawadee;
}
.event-component{
    -fx-background-color: #FFF5E5 ;
    -fx-background-radius: 15 ;


}
.list-view-event{
    -fx-background-color: #FFF5E5;
    -fx-background-radius: 15 ;
    -fx-border-radius: 15;
    -fx-border-color: #FFF5E5;

}

.tab-header-area .tab-header-background {
 	-fx-background-color: #FF971D;
}
.tab-pane .tab:selected {
	-fx-background-color: #F9F6F7;
	-fx-background-insets: 0 0 0 0;
	-fx-background-radius: 0 0 0 0;
}
.tab .tab-label {
 	-fx-alignment: CENTER;
	-fx-text-fill: black;
	-fx-font-weight: bold;
	-fx-padding: 0 10 0 10;
}
.tab-pane:top *.tab-header-area {
	-fx-padding: 0 0 0 30;

}
.tab-pane {
	-fx-background-color: #F9F6F7;
	-fx-tab-min-width: 100px;
	-fx-tab-min-height: 60px;
	-fx-tab-max-height: 60px;
}
.tab-pane .tab {
	-fx-background-color: #FF971D;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #dbd7d3;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: transparent;
}