
.bgAchorPane{
    -fx-background-color:  #F9F6F7CC;
}
.headPane{

    -fx-background-color: #FF9900;
 }

.fontText{
    -fx-font-family: Leelawadee;

}

.myButton {
  -fx-background-color:transparent;
}

.myButton:hover {
  -fx-background-color:#dae7f3;
}