* {
    /* variable for css */

    color-primary: #FF9900;
    color-secondary: #FFE4B8;
}

Text, Label {
    -fx-font-family: Leelawadee;
}

.background-develop-profile {
    -fx-background-color: linear-gradient(#FF7217, #FAA929, #FA8729);
}

.h1 {
    -fx-font-size: 45;
}

.h3 {
    -fx-font-size: 19;
}

.bold700 {
    -fx-font-weight: 700;
}

.card {
    -fx-background-color: #F9F6F7;
    -fx-background-radius: 0 0 21 21;
    -fx-border-radius: 0 0 21 21;
    -fx-content-display: inline-block;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 15, 0, 0, 6);
}

.card-image-preview {
    -fx-fit-to-width: true;
}

.card-description-background {
    -fx-background-color: #F9F6F7;
    -fx-background-radius: 0 0 21 21;
}

.card-description-header {
    -fx-font-size: 24;
    -fx-fill: linear-gradient(#FF780C 0%, #FF8806 52.60%, #F90 98.96%);
    -fx-font-weight: 700;
}

.card-description-body {
    -fx-font-size: 19;
    -fx-fill: #494949;
}

.container-card {
    -fx-spacing: 30;
    -fx-alignment: center;
}

.container-vbox {
    -fx-alignment: center;
    -fx-spacing: 50;
}

.text-gray-linear-gradient {
    -fx-fill: linear-gradient(#353535, #494949);
}

/* components */
.Nav {
    -fx-background-color: color-primary;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 2, 0, 0, 0);
}

.Nav > .container {
    -fx-spacing: 10;
}

.Nav > .container > .items {
    -fx-padding: 0 2 0 2;
    -fx-font-size: 19;
    -fx-font-weight: 700;
    -fx-font-family: Leelawadee;
    -fx-background-color: transparent;
}

.Nav > .container > .items:hover {
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.nav-profile:hover {
    -fx-cursor: hand;
}

.toggle-menu {
    -fx-background-color: transparent;
    -fx-pref-width: 179;
}

.toggle-menu .arrow {
    -fx-background-color: transparent;
}


.toggle-menu .list-view {
    -fx-padding: 14 4 14 5;
    -fx-spacing: 5;
    -fx-background-color: F6F4EE;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.toggle-menu .list-cell {
    -fx-background-color: transparent;
    -fx-padding: 10 0 10 0;
    -fx-font-family: Leelawadee;
    -fx-background-radius: 5;
    -fx-font-size: 18;
    -fx-border-radius: 5;
    -fx-text-fill: #666666;
    -fx-alignment: center;
}

.toggle-menu .list-cell:hover {
    -fx-background-color: rgba(255, 153, 0, 0.37);
}

.top-bar-items {
    -fx-background-color: transparent;
    -fx-font-size: 19;
    -fx-font-family: Leelawadee;
    -fx-font-color : #413B3B;
}

.top-bar-items:hover {
    -fx-background-color: color-primary;
}

.admin-bg {
    -fx-background-color: #FFF5E5;
}

.admin-body {
    -fx-background-color: #FFF5E5;
}

.admin-sidebar-bg {
    -fx-background-color: #FFFFFF;
}

.admin-sidebar-bg > VBox {
    -fx-spacing: 10;
}

.admin-sidebar-bg > VBox > Button {
    -fx-background-color: transparent;
    -fx-font-family: Leelawadee;
    -fx-font-size: 19;
    -fx-text-fill: #666666;
    -fx-background-radius: 10;
    -fx-alignment: center-left;
    -fx-padding: 0 0 0 20;
}

.admin-sidebar-bg > VBox > Button:hover {
    -fx-background-color: FFE4B8;
}

.btn {
    -fx-font-family: Leelawadee;
    -fx-font-size: 19;
    -fx-text-fill: #FFFFFF;
}

.btn-danger {
    -fx-background-color: #E61B1B;
}

.btn-danger:hover {
    -fx-background-color: #e76767;
}

.box-success {
    -fx-background-radius: 10;
    -fx-background-color: linear-gradient(from 0px 0px to 17px 0px, #4CAF50 0%, #4CAF50 36.84%, #FFFFFF 36.84%, #FFFFFF 100%);
}

.box-success > Text{
    -fx-fill: #4CAF50;
    -fx-font-weight: 700;
}

.box-success > Label{
    -fx-font-size: 29;
    -fx-text-fill: #666666;
}

.box-danger {
    -fx-background-radius: 10;
    -fx-background-color: linear-gradient(from 0px 0px to 17px 0px, #E61B1B 0%, #E61B1B 36.84%, #FFFFFF 36.84%, #FFFFFF 100%);
}

.box-danger > Text{
    -fx-fill: #E61B1B;
    -fx-font-weight: 700;
}

.box-danger > Label{
    -fx-font-size: 29;
    -fx-text-fill: #666666;
}

.box-primary {
    -fx-background-radius: 10;
    -fx-background-color: linear-gradient(from 0px 0px to 17px 0px, color-primary 0%, color-primary 36.84%, #FFFFFF 36.84%, #FFFFFF 100%);
}

.box-primary > Text{
    -fx-fill: color-primary;
    -fx-font-weight: 700;
}

.box-primary > Label{
    -fx-font-size: 29;
    -fx-text-fill: #666666;
}

.spacing10{
    -fx-spacing: 10;
}

.spacing20{
    -fx-spacing: 20;
}

.spacing30{
    -fx-spacing: 30;
}

ProgressBar {
    -fx-text-box-border: #666666;
    -fx-accent: color-primary;
}

.log-user-table {
    -fx-cursor: hand;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: transparent;
    -fx-background-color: #FFF5E5;
}

.log-user-table .filler {
    -fx-background-color: transparent;
}

.log-user-table .column-header{
    -fx-background-color: #FFE4B8;
}

.log-user-table .column-header .label{
    -fx-alignment: center;
}

.log-user-table .column-header-background {
    -fx-background-color: #FFE4B8;
}

.log-user-table:empty {
    -fx-background-color: transparent;
}

.log-user-table .cell{
    -fx-cell-size: 35;
    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #666666;
}

.log-user-table .cell:hover {
    -fx-background-color: #FFE4B8;
    -fx-background-radius: 10;
}

.log-user-table .cell:selected {
    -fx-background-color: #FFE4B8;
    -fx-background-radius: 10;
}

.log-user-table:filled {
    -fx-background-color: transparent;
}

.log-user-table .increment-button ,.log-user-table .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 1em;

}

.log-user-table .scroll-bar {
    -fx-background-color: transparent;
}

.log-user-table .scroll-bar:horizontal .track,
.log-user-table .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.log-user-table .scroll-bar:horizontal .thumb,
.log-user-table .scroll-bar:vertical .thumb {
    -fx-background-color:#FFE4B8;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 10;
    -fx-border-radius:10;
}