
/* font */
.font{
    -fx-font-family: Leelawadee;
}

* {
    -fx-font-family: Leelawadee;
}

.text-xxs{-fx-font-style-size: 8;}
.text-xs{-fx-font-style-size: 12;}
.text-ms{-fx-font-size: 14;}
.text-base{-fx-font-size: 16;}
.text-lg{-fx-font-size: 18;}
.text-xl{-fx-font-size: 20;}
.text-2xl{-fx-font-size: 24;}
.text-3xl{-fx-font-size: 30;}
.text-4xl{-fx-font-size: 36;}
.text-5xl{-fx-font-size: 48;}
.text-6xl{-fx-font-size: 60;}

.weight-thin{-fx-font-weight: 100;}
.weight-extra-light{-fx-font-weight: 200;}
.weight-light{-fx-font-weight: 300;}
.weight-normal{-fx-font-weight: 400;}
.weight-medium{-fx-font-weight: 500;}
.weight-semi-bold{-fx-font-weight: 600}
.weight-bold{-fx-font-weight: 700;}

.color-gray{
    -fx-text-fill: #585858;
}
.color-black{
    -fx-text-fill: #413B3B;
}
.color-gray{
    -fx-text-fill: #666668;
}
.color-red{
    -fx-text-fill: #ff1515;
}

/* for login page */
/* for background */
.signin-signup-background1{
    -fx-background-color:  #FEF4E0;

}

.signin-signup-background2{
    fx--background-color : linear-gradient(#F08A4E 50%, #FDA83A 100%);
}

.signin-signup-border {
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-border-color: FEF4E0;
    -fx-background-color: rgba(255, 255, 255, 0.20);
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, antiquewhite, 4, 0, 0, 0.7);
}


.upcoming-border {
    -fx-border-radius: 127;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0.1, 0, 0.1), 4, 0.1, 1, 2);
}


/* field */
.signin-signup-field {
    -fx-background-radius: 23;
    -fx-background-color: #F5F3ED;
    -fx-border-color: #413B3B;
    -fx-border-width: 1;
    -fx-border-radius: 23;
    -fx-font-size: 17;

}
/* button */

.orange-button{
    -fx-background-color : linear-gradient(to left, #FF9839 20.10%, #FF922E 53.96%, #F97800 91.98%);
    -fx-background-radius: 20;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 8, 0, 0, 4);
}

.orange-button:hover{
    -fx-background-color : linear-gradient(to left,  #FFC75A 5.37%, #FFAC60 52.40%, #F7973E 91.98%);
    -fx-background-radius: 20;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 8, 0, 0, 4);
}

.orange-button:pressed{
    -fx-background-color : linear-gradient(to left,  #F8D391 5.37%, #FFCEA0 52.40%, #FFB875 91.98%);
    -fx-background-radius: 20;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 8, 0, 0, 4);
}

.text-orange-button {
    -fx-font-size: 27;
    -fx-font-weight: 700;
    -fx-font-family: Leelawadee;
}

.arrow-upcoming-button {
    -fx-font-size: 60;
    -fx-font-weight: 700;
    -fx-background-color: transparent;
}

.arrow-circle-button {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 5, 0, 0, 3);
}

.arrow-circle-button:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 10), 10, 0, 0, 5);
}

/* check box*/
.check-box {
    -fx-text-fill:  #BFBFBF;
}
.check-box .box {
    -fx-background-color: #DCDCDD;
    -fx-background-radius: 4;
}
.check-box:selected .mark {
    -fx-background-color: #F5F3ED;
}
.check-box:selected .box {
    -fx-background-color: #FF922E;
    -fx-text-fill: #413B3B;
}

/* for click button */

.next-page:hover {
    -fx-font-size: 20 ;
}

.next-page-bar:hover{
    -fx-font-size: 24;

}
.next-page-shadow:hover{
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 2, 0, 0, 2);
}

/* for condition box */
.condition-box-text{
    -fx-wrap-text: true;
    -fx-text-fill: #F5F3ED;


}

.condition-box{
    -fx-arc-width: 12;
    -fx-arc-height: 12;
    -fx-opacity: 1;


}


/* for login page */

Text, Label {
    -fx-font-family: FreesiaUPC;
}

.background-develop-profile {
    -fx-background-color: linear-gradient(#FF7217, #FAA929, #FA8729);
}

.h1 {
    -fx-font-size: 69;
}

.h3 {
    -fx-font-size: 25;
}

.h4 {
    -fx-font-size: 16;
}

.bold700 {
    -fx-font-weight: 700;
}

.card {
    -fx-background-color: #F9F6F7;
    -fx-background-radius: 0 0 21 21;
    -fx-border-radius: 0 0 21 21;
    -fx-content-display: inline-block;
}

.card-image-preview {
    -fx-fit-to-width: true;
}

.card-description-background {
    -fx-background-color: #F9F6F7;
    -fx-background-radius: 0 0 21 21;
}

.card-description-header {
    -fx-font-size: 29;
    -fx-fill: linear-gradient(#FF780C 0%, #FF8806 52.60%, #F90 98.96%);
    -fx-font-weight: 700;
}

.card-description-body {
    -fx-font-size: 24;
    -fx-fill: #494949;
}

.container-card {
    -fx-spacing: 30;
    -fx-alignment: center;
}

.container-vbox {
    -fx-alignment: center;
    -fx-spacing: 50;
}

.text-gray-linear-gradient {
    -fx-fill: linear-gradient(#353535, #494949);
}

.button-setting{
        -fx-background-color: transparent;
        -fx-font-size: 24;
        -fx-font-family: Leelawadee;

}

.button-setting:hover{
        -fx-background-color: #FFE4B8;
        -fx-background-radius: 13;

}

.bgPane{
    -fx-background-radius: 15;
    -fx-background-color: #FFFFFF;}

.toggle-button{
        -fx-background-color: transparent;
        -fx-font-size: 12;
        -fx-font-family: Leelawadee;
}


/* for user-profile page */
.bgProfile1{
    -fx-background-color: #FFF5E5;
}
.bgProfile2{
    -fx-effect: dropshadow(gaussian, #D7CFC3, 40, 0.4, 0, 0.7);
    -fx-arc-height: 50;
    -fx-arc-width: 50;
}
.profile-text-field{
    -fx-background-color: #F5F3ED;
    -fx-border-color: #000000;
    -fx-border-width: 1;
    -fx-border-radius: 11;
    -fx-font-size: 17;
    -fx-opacity: 0.1;-fx-padding: 0 0 0 30;
}

.profile-text-field2 {
    -fx-background-color: #F5F3ED;
    -fx-border-color: #000000;
    -fx-border-width: 1;
    -fx-border-radius: 11;
    -fx-font-size: 17;
    -fx-opacity: 1;-fx-padding: 0 0 0 35;
}
.profile-text-area2{
    -fx-background-color: #F5F3ED;
    -fx-border-color: #000000;
    -fx-border-width: 1;
    -fx-border-radius: 11;
    -fx-font-size: 17;
    -fx-opacity: 0.1;-fx-padding: 0 0 0 35;
}
.profile-text-area2{
    -fx-background-color: #F5F3ED;
    -fx-border-color: #000000;
    -fx-border-width: 1;
    -fx-border-radius: 11;
    -fx-font-size: 17;
    -fx-opacity: 0.1;-fx-padding: 10 15 16 15;
    -fx-wrap-text: true;
}
.profile-text-area {
    -fx-background-radius: 11;
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-border-radius: 11;
    -fx-font-size: 17;
    -fx-opacity: 1;
    -fx-wrap-text: true;

}
.profile-text-area .content{
    -fx-background-color: #F5F3ED;
    -fx-border-color: #000000;
    -fx-border-radius: 11;
    -fx-border-width: 1;
    -fx-font-size: 17;
    -fx-opacity: 1;
    -fx-padding: 10 15 16 18;
    -fx-wrap-text: true;

}

.profile-text-area .scroll-pane{
    -fx-background-color: transparent;
    -fx-background-radius:  11;
    -fx-border-radius: 11;

}

.center-label {
    -fx-text-alignment: center;
    -fx-wrap-text: true;
}

.edit-profile-button {
    -fx-background-color: linear-gradient(to left, #FF922E 45.96%, #FF9E22 70.98%);
    -fx-background-radius: 12;
    -fx-effect: dropshadow(gaussian, #D7CFC3, 5, 0, 0, 3);
}

.edit-profile-button:hover {
    -fx-background-color: linear-gradient(to left,  #FFAC60  45.96%, #FFC75A  70.98% );
    -fx-background-radius: 12;
    -fx-effect: dropshadow(gaussian, #D7CFC3, 5, 0, 0, 3);
}

.edit-profile-button:pressed {
    -fx-background-color: linear-gradient(to left, #FFB875 45.96%, #F8D391  70.98% );
    -fx-background-radius: 12;
    -fx-effect: dropshadow(gaussian, #D7CFC3, 5, 0, 0, 3);
}

.cancel-profile-button{
    -fx-background-color: transparent;
    -fx-border-radius: 12;
    -fx-border-color: #FF922E;
    -fx-border-width: 2;
    -fx-text-fill: #FF922E;
    -fx-effect: dropshadow(gaussian, #D7CFC3, 5, 0, 0, 3);
}

.cancel-profile-button:hover{
    -fx-background-color: transparent;
    -fx-border-radius: 12;
    -fx-border-color: #BFBFBF;
    -fx-border-width: 2;
    -fx-effect: dropshadow(gaussian, #D7CFC3, 5, 0, 0, 3);
    -fx-text-fill: #BFBFBF;
}

.cancel-profile-button:pressed{
    -fx-background-color: transparent;
    -fx-border-radius: 12;
    -fx-border-color: #E9E2DA;
    -fx-border-width: 2;
    -fx-effect: dropshadow(gaussian, antiquewhite, 5, 0, 0, 3);
    -fx-text-fill: #E9E2DA;
}

.image-change-effect:hover{
    -fx-effect: dropshadow(gaussian, #D7CFC3, 5, 0, 0, 3);
}

.description-profile-text{
    -fx-text-fill: #8f6e6e;
}

.change-avatar-background{
    -fx-background-color: transparent;
}

.upload-image-button{
    -fx-background-color: #FFB761;
    -fx-border-color: transparent;
    -fx-text-fill: #F5F3ED;
    -fx-background-radius: 15;
    -fx-border-width: 2;
    -fx-effect: dropshadow(gaussian, #D7CFC3, 5, 0, 0, 3);
}

.upload-image-button:hover{
    -fx-background-color: #F7F3EE;
    -fx-border-color: transparent;
    -fx-background-radius: 15;
    -fx-text-fill: #F4B352;
    -fx-border-width: 2;
    -fx-effect: dropshadow(gaussian, #D7CFC3, 5, 0, 0, 3);
}

.show-information-box{
    -fx-background-color: #F9D396;
    -fx-background-radius: 2;
    -fx-effect: dropshadow(gaussian, #D7CFC3, 5, 0, 0, 3);
}

/* end for user-profile page */

/* for select-team page */
.selected-team-background{
    -fx-background-color: #FFF5E5;
}

/* for team box */
.team-box-background{
    -fx-background-color: transparent;
    -fx-stroke-width: 0;
}

.team-box-shape{
    -fx-arc-width: 15;
    -fx-arc-height: 15;
    -fx-stroke-width: 2;
    -fx-border-color: #413B3B;
    -fx-border-radius: 8;
    -fx-effect: dropshadow(gaussian, #D7CFC3, 10, 0.5, 0, 0);
}

/* for select team */
.scroll-pane .scroll-bar {
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar .thumb {
    -fx-background-color: transparent;
}

.scroll-pane:hover .scroll-bar {
    -fx-background-color: transparent;
}

.scroll-pane:hover .scroll-bar .thumb {
    -fx-background-color: #DDD3C3;
}

.create-team-button{
    -fx-background-color: transparent;
    -fx-border-color: #413B3B;
    -fx-border-radius: 8;
    -fx-border-width: 2;
    -fx-stroke-width: 10;
    -fx-effect: dropshadow(gaussian, #D7CFC3, 10, 0.5, 0, 0);
}

.setting-select-team-dropdown {
    -fx-background-color: transparent;
    -fx-pref-width: 179;
}

.setting-select-team-dropdown .arrow {
    -fx-background-color: transparent;
}


.setting-select-team-dropdown .list-view {
    -fx-padding: 14 4 14 5;
    -fx-spacing: 5;
    -fx-background-color: #F6F4EE;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.setting-select-team-dropdown .list-cell {
    -fx-background-color: transparent;
    -fx-padding: 10 0 10 0;
    -fx-font-family: Leelawadee;
    -fx-background-radius: 5;
    -fx-font-size: 18;
    -fx-border-radius: 5;
    -fx-text-fill: #413B3B;
    -fx-alignment: center;
}

.setting-select-team-dropdown .list-cell:hover {
    -fx-background-color: rgba(255, 153, 0, 0.37);
}

.switch-view{
    -fx-effect:  dropshadow(gaussian, #D7CFC3, 5, 0.2, 0, 0);
    -fx-arc-height: 15;
    -fx-arc-width: 15;
}

/* check box for switch view*/
.check-box {
    -fx-text-fill:  #413B3B;
}
.check-box .box {
    -fx-background-color: #DCDCDD;
    -fx-background-radius: 4;
}
.check-box:selected .mark {
    -fx-background-color: #F5F3ED;
}
.check-box:selected .box {
    -fx-background-color: #FF922E;
    -fx-text-fill: #413B3B;
}

.membership-message-box{
    -fx-arc-height: 2;
    -fx-arc-width: 2;
    -fx-font-size: 10;
    -fx-text-fill: #585858;
    -fx-effect:  dropshadow(gaussian, #D7CFC3, 4, 0.5, 0, 1);
}

.manage-team {
    -fx-effect:  dropshadow(gaussian, #D7CFC3, 5, 0.2, 0, 0);
    -fx-arc-height: 15;
    -fx-arc-width: 15;
    -fx-background-radius: 10;
}

.select-bar-manage-team Label {
    -fx-font-size: 16;
    -fx-font-weight: 700;
}
/* for team page */
.sidebar-black{
    -fx-text-fill: #4D4746;
    -fx-effect:  dropshadow(gaussian, #C7C7C7, 10, 0.2, 0, 0);
}

.create-team-box{
    -fx-background-radius: 10;
    -fx-background-color: #F6F4EE;
    -fx-border-radius: 10;
    -fx-border-color: #4D4746;
    -fx-stroke-width: 5;
}

.create-text-field{
    -fx-background-color: white;
    -fx-border-color: #000000;
    -fx-border-width: 1;
    -fx-border-radius: 11;
    -fx-font-size: 17;
    -fx-opacity: 1;-fx-padding: 0 0 0 25;
}

.edit-create-button {
    -fx-background-color: linear-gradient(to left, #FF922E 45.96%, #FF9E22 70.98%);
    -fx-background-radius: 7;
    -fx-effect: dropshadow(gaussian, #D7CFC3, 5, 0, 0, 3);
}

.edit-create-button:hover {
    -fx-background-color: linear-gradient(to left,  #FFAC60  45.96%, #FFC75A  70.98% );
    -fx-background-radius: 7;
    -fx-effect: dropshadow(gaussian, #D7CFC3, 5, 0, 0, 3);
}

.edit-create-button:pressed {
    -fx-background-color: linear-gradient(to left, #FFB875 45.96%, #F8D391  70.98% );
    -fx-background-radius: 7;
    -fx-effect: dropshadow(gaussian, #D7CFC3, 5, 0, 0, 3);
}

.cancel-create-button{
    -fx-background-color: transparent;
    -fx-border-radius: 7;
    -fx-border-color: #FF922E;
    -fx-border-width: 1.5;
    -fx-text-fill: #FF922E;
    -fx-effect: dropshadow(gaussian, #D7CFC3, 5, 0, 0, 3);
}

.cancel-create-button:hover{
    -fx-background-color: transparent;
    -fx-border-radius: 7;
    -fx-border-color: #BFBFBF;
    -fx-border-width: 1.5;
    -fx-effect: dropshadow(gaussian, #D7CFC3, 5, 0, 0, 3);
    -fx-text-fill: #BFBFBF;
}

.cancel-create-button:pressed{
    -fx-background-color: transparent;
    -fx-border-radius: 7;
    -fx-border-color: #E9E2DA;
    -fx-border-width: 1.5;
    -fx-effect: dropshadow(gaussian, antiquewhite, 5, 0, 0, 3);
    -fx-text-fill: #E9E2DA;
}

.create-team-spinner {
    -fx-border-color: #4D4746;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-background-color: #F5F3ED;
    -fx-primary-color: #4D4746;
    -fx-secondary-color: #F90;
    -fx-focus-color: #4D4746;
}

.create-team-spinner .text-field {
    -fx-font-size : 12;
    -fx-text-fill: #4D4746;
    -fx-border-radius: 10;
    -fx-border-color: transparent;
    -fx-background-radius: 10;
    -fx-background-color: white;
    -fx-primary-color: #4D4746;
    -fx-secondary-color: #F90;
    -fx-focus-color: #4D4746;
}
.spinner .increment-arrow-button {
    -fx-background-color: #4D4746;
    -fx-background-radius: 0 10 0 0;
}

.spinner .decrement-arrow-button {
    -fx-background-color: #4D4746;
    -fx-background-radius: 0 0 10 0;
}

.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover {
    -fx-background-color: #f90;
}
.spinner .increment-arrow-button:hover:pressed,
.spinner .decrement-arrow-button:hover:pressed,
.spinner .increment-arrow-button:pressed,
.spinner .decrement-arrow-button:pressed {
    -fx-background-color: -fx-secondary-color;
}
.spinner .increment-arrow-button .increment-arrow,
.spinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color: white;
}


.create-team-choice-box {
    -fx-border-color: #4D4746;
    -fx-border-radius: 10;
    -fx-background-color: #F5F3ED;
    -fx-background-radius: 10;
}

.create-team-choice-box .label {
    -fx-text-fill: #4D4746;
}

.create-team-choice-box:hover {
    -fx-background-color: white;
}

.create-team-choice-box:pressed {
    -fx-background-color: #F5F3ED;
}

.choice-box .menu-item:focused {
    -fx-background-radius: 10;
    -fx-background-color: #f90;
}

.description-create-team{
    -fx-background-color: white;
    -fx-border-color: #000000;
    -fx-border-width: 1;
    -fx-border-radius: 10;
    -fx-font-size: 17;
    -fx-padding: 10 15 16 15;
    -fx-wrap-text: true;
}
.description-create-team .content{
    -fx-background-color: white;
    -fx-border-width: 1;
    -fx-border-radius: 10;
    -fx-font-size: 17;
    -fx-padding: 3 5 5 5;
    -fx-wrap-text: true;
}

/* for team page */
.bg-transparent{
    -fx-background-color: transparent;
}

.menu-background-check-box{
    -fx-background-radius: 5;
    -fx-background-color: #F6F4EE;
}

.menu-role-check-box {
    -fx-background-color: transparent;
}


/* for reset password page */
.reset-password-text-field{
    -fx-background-color: #F5F3ED;
    -fx-border-color: #000000;
    -fx-border-width: 1.5;
    -fx-border-radius: 11;
    -fx-font-size: 18;
    -fx-opacity: 1;-fx-padding: 0 0 0 35;
}

.reset-password-button {
    -fx-background-color: #EFA44F;
    -fx-background-radius: 25;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, #D7CFC3, 5, 0, 0, 3);
}

.reset-password-button:hover {
    -fx-background-color: #FCB361;
    -fx-background-radius: 25;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, #D7CFC3, 5, 0, 0, 3);
}

.reset-password-button:pressed {
    -fx-background-color: #FFBF78;
    -fx-background-radius: 25;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, #D7CFC3, 5, 0, 0, 3);
}

/* for user card-profile */
.user-card-bg{
    -fx-background-radius: 9;
    -fx-border-radius: 9;
}

