Text, Label {
    -fx-font-family: Leelawadee;
}

.background-develop-profile {
    -fx-background-color: linear-gradient(#FF7217, #FAA929, #FA8729);
}

.h1 {
    -fx-font-size: 45;
}

.h3 {
    -fx-font-size: 19;
}

.bold700 {
    -fx-font-weight: 700;
}

.card {
    -fx-background-color: #F9F6F7;
    -fx-background-radius: 0 0 21 21;
    -fx-border-radius: 0 0 21 21;
    -fx-content-display: inline-block;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 15, 0, 0, 6);
}

.card-image-preview {
    -fx-fit-to-width: true;
}

.card-description-background {
    -fx-background-color: #F9F6F7;
    -fx-background-radius: 0 0 21 21;
}

.card-description-header {
    -fx-font-size: 24;
    -fx-fill: linear-gradient(#FF780C 0%, #FF8806 52.60%, #F90 98.96%);
    -fx-font-weight: 700;
}

.card-description-body {
    -fx-font-size: 19;
    -fx-fill: #494949;
}

.container-card {
    -fx-spacing: 30;
    -fx-alignment: center;
}

.container-vbox {
    -fx-alignment: center;
    -fx-spacing: 50;
}

.text-gray-linear-gradient {
    -fx-fill: linear-gradient(#353535, #494949);
}

/* components */
.Nav {
    -fx-background-color: #FF9900;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 2, 0, 0, 0);
}

.Nav > .search-box {
    -fx-padding: 0 0 0 37;
    -fx-font-family: Leelawadee;
    -fx-font-size: 19;
    -fx-background-radius: 30;
    -fx-focus-traversable: false;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 2, 0, 0, 0);
}

.Nav > .profile-menu {
    -fx-effect: dropshadow(three-pass-box, #428a2e, 10, 0, 0, 0);
}

.Nav > .container {
    -fx-spacing: 10;
}

.Nav > .container > .items {
    -fx-padding: 0 2 0 2;
    -fx-font-size: 19;
    -fx-font-weight: 700;
    -fx-font-family: Leelawadee;
    -fx-background-color: transparent;
}

.toggle-menu {
    -fx-background-radius: 10;
    -fx-background-color: #F5F3EE;
}

.toggle-menu > VBox {
    -fx-border-width: 0.6;
    -fx-border-style: solid;
    -fx-border-radius: 10;
    -fx-border-color: #494949;
}

.toggle-menu > VBox > .items {
    -fx-padding: 12 0 12 0;
    -fx-background-color: transparent;
    -fx-border-color: #494949;
    -fx-font-family: Leelawadee;
    -fx-font-size: 19;
    -fx-font-weight: 700;
    -fx-border-width: 0 0 0.6 0;
    -fx-border-style: solid;
    -fx-text-fill: #413b3b;
}

.toggle-menu > VBox > .items:hover {
    -fx-background-color: #ffa527;
    /*-fx-effect: dropshadow(three-pass-box, rgba(238, 148, 16, 0.74), 2, 0, 0, 0);*/
}

.toggle-menu > VBox > HBox {
    -fx-background-color: #F5F3EE;
    -fx-background-radius: 0 0 10 10;
}

.toggle-menu > VBox > .text-primary {
    -fx-text-fill: #413b3b;
}

.toggle-menu > VBox > .text-danger {
    -fx-text-fill: #c22f2f;
}

.top-bar-items {
    -fx-background-color: transparent;
    -fx-font-size: 19;
    -fx-font-family: Leelawadee;
    -fx-font-color : #413B3B;
}

.top-bar-items:hover {
    -fx-background-color: #FF9900;
}

.admin-bg {
    -fx-background-color: #FFF5E5;
}

.admin-body {
    -fx-background-color: #FFF5E5;
}

.admin-body > TableView {
    -fx-background-radius: 0 10 10 0;
}

.admin-sidebar-bg {
    -fx-background-color: #FFFFFF;
}

.admin-sidebar-bg > VBox {
    -fx-spacing: 10;
}

.admin-sidebar-bg > VBox > Button {
    -fx-background-color: transparent;
    -fx-font-family: Leelawadee;
    -fx-font-size: 19;
    -fx-text-fill: #666666;
    -fx-background-radius: 10;
    -fx-alignment: center-left;
    -fx-padding: 0 0 0 20;
}

.btn {
    -fx-font-family: Leelawadee;
    -fx-font-size: 19;
    -fx-text-fill: #FFFFFF;
}

.btn-danger {
    -fx-background-color: #E61B1B;
}

.btn-danger:hover {
    -fx-background-color: #e76767;
}

.box-success {
    -fx-background-radius: 10;
    -fx-background-color: linear-gradient(from 0px 0px to 17px 0px, #4CAF50 0%, #4CAF50 36.84%, #FFFFFF 36.84%, #FFFFFF 100%);
}

.box-success > Text{
    -fx-fill: #4CAF50;
    -fx-font-weight: 700;
}

.box-success > Label{
    -fx-font-size: 29;
    -fx-text-fill: #666666;
}

.box-danger {
    -fx-background-radius: 10;
    -fx-background-color: linear-gradient(from 0px 0px to 17px 0px, #E61B1B 0%, #E61B1B 36.84%, #FFFFFF 36.84%, #FFFFFF 100%);
}

.box-danger > Text{
    -fx-fill: #E61B1B;
    -fx-font-weight: 700;
}

.box-danger > Label{
    -fx-font-size: 29;
    -fx-text-fill: #666666;
}

.box-primary {
    -fx-background-radius: 10;
    -fx-background-color: linear-gradient(from 0px 0px to 17px 0px, #FF9900 0%, #FF9900 36.84%, #FFFFFF 36.84%, #FFFFFF 100%);
}

.box-primary > Text{
    -fx-fill: #FF9900;
    -fx-font-weight: 700;
}

.box-primary > Label{
    -fx-font-size: 29;
    -fx-text-fill: #666666;
}

.spacing10{
    -fx-spacing: 10;
}

.spacing20{
    -fx-spacing: 20;
}

.spacing30{
    -fx-spacing: 30;
}

ProgressBar {
    -fx-text-box-border: forestgreen;
    -fx-control-inner-background: palegreen;
}