Text, Label {
    -fx-font-family: Leelawadee;
}

.bold-700 {
    -fx-font-weight: 700;
}

.bgProfile1{
    -fx-background-color: #FFF5E5;
}

.bgBody {
    -fx-background-color: #F6F4EE;
}

.other-message-box-body {
    -fx-background-color: #f5f5f5;
    -fx-background-radius: 0 25 25 25;
    -fx-border-radius: 0 25 25 25;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 1;
    -fx-padding: 10;
}

.mid-message-box-body {
    -fx-background-color: #f5f5f5;
    -fx-background-radius: 0 25 25 25;
    -fx-border-radius: 0 25 25 25;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 1;
    -fx-padding: 16;
}

.self-message-box-body {
    -fx-background-color: #f5f5f5;
    -fx-background-radius: 25 0 25 25;
    -fx-border-radius: 25 0 25 25;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 1;
    -fx-padding: 16;
    -fx-text-alignment: right;
}

.message {
    -fx-font-family: System;
    -fx-font-size: 16;
}

.name {
    -fx-font-size: 10;
    -fx-font-weight: 700;
}

.mainScrollPane {
    -fx-background-color: #FFF5E5;
}

.mainScrollPane .scroll-bar {
    -fx-background-color: transparent;
}

.mainScrollPane .scroll-bar .thumb {
    -fx-background-color: transparent;

}

.mainScrollPane:hover .scroll-bar {
    -fx-background-color: transparent;
}

.mainScrollPane:hover .scroll-bar .thumb {
    -fx-background-color: #ffffff;
}

.activity-shadow {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 0);
}

.typing-message {
    -fx-font-size: 16;
    -fx-background-color: #f5f5f5;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 1;
    -fx-padding: 0 0 0 15;
}

.group-chat .column-header-background {
    -fx-background-color: white;
    -fx-background-radius: 15px 15px 15px 15px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}
.group-chat .column-header {
    -fx-background-color: transparent;
}
.group-chat .table-cell {
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
    -fx-font-size: 18;
}

.group-chat .table-cell {
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.group-chat:odd {
    -fx-background-color: #93f9b911;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.group-chat:even {
    -fx-background-color: #1dbbdd11;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.group-chat:selected {
    -fx-background-color: #F90;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}